@{
    Foro.Models.DetalleAlumno detalleAlumno = (Foro.Models.DetalleAlumno)ViewBag.alumno;
    List<Foro.Models.ConvivenciaFamiliar> lstConvivenciaFamiliar = (List<Foro.Models.ConvivenciaFamiliar>)ViewBag.lstconvivenciafamiliar;
    List<Foro.Models.DependenciaEconomica> lstdependenciaeconomica = (List<Foro.Models.DependenciaEconomica>)ViewBag.lstdependenciaeconomica;
    List<Foro.Models.Nacionalidad> lstnacionalidad = (List<Foro.Models.Nacionalidad>)ViewBag.lstnacionalidad;
    List<Foro.Models.RecursosBasicos> lstrecursosbasicos = (List<Foro.Models.RecursosBasicos>)ViewBag.lstrecursosbasicos;
    List<Foro.Models.Residencia> lstresidencia = (List<Foro.Models.Residencia>)ViewBag.lstresidencia;
    List<Foro.Models.Sexo> lstsexo = (List<Foro.Models.Sexo>)ViewBag.lstsexo;
    List<Foro.Models.Vivienda> lstvivienda = (List<Foro.Models.Vivienda>)ViewBag.lstvivienda;


    ViewBag.Title = "EditarAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            Editar Alumno
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-xxl-8">
            <div class="card mb-4">
                <div class="card-header border-bottom">
                    <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                        <li class="nav-item me-1"><a class="nav-link navPlan active" id="Elaborar-pill" href="#Elaborar" data-toggle="tab" role="tab" aria-controls="Elaborar" aria-selected="true">Datos Generales</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="dashboardNavContent">
                        <div class="tab-pane paneDatosPlanes fade show active" id="Elaborar" role="tabpanel" aria-labelledby="Elaborar-pill">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            Información del Alumno
                                        </div>
                                        <div class="card-body">
                                            <div class="form-body">
                                                <form id="frmIngresoAlumnos">
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="txtDireccionAlumno">Dirección Residencia: </label>
                                                            <input class="form-control" id="txtDireccionAlumno" value="@detalleAlumno.direccionResidencia" placeholder="Dirección de residencia" />
                                                            <span id="val-cons-txtDireccionAlumno" class="text-danger" hidden>La dirección es requerida.</span>
                                                            <input type="hidden" value="@detalleAlumno.idAlumno" id="hdnIdAlumno"/>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="slcDependenciaEconomica">Dependencia Económica: </label>
                                                            @Html.DropDownList(
                                                                "slcDependenciaEconomica",
                                                                new SelectList(
                                                                    ViewBag.lstdependenciaeconomica,
                                                                    "idDependenciaEconomica",
                                                                    "nombreDependenciaEconomica",
                                                                    lstdependenciaeconomica
                                                                        .Where(x => x.nombreDependenciaEconomica == detalleAlumno.nombreDependenciaEconomica)
                                                                        .Select(x => x.idDependenciaEconomica)
                                                                        .FirstOrDefault()),
                                                                new { @id = "slcDependenciaEconomica", @class = "form-control selectSearch" }
                                                            )
                                                            <span id="val-cons-slcDependenciaEconomica" class="text-danger" hidden>La dependencia económica es requerida.</span>

                                                        </div>
                                                    </div>
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="slcTipoResidencia">Tipo Residencia: </label>
                                                            @Html.DropDownList(
                                                           "slcTipoResidencia",
                                                           new SelectList(
                                                               ViewBag.lstresidencia,
                                                               "idTipoResidencia",
                                                               "nombreResidencia",
                                                               lstresidencia
                                                               .Where(x => x.nombreResidencia == detalleAlumno.nombreResidencia)
                                                               .Select(x => x.idTipoResidencia)
                                                               .FirstOrDefault()
                                                               ),
                                                           new { @id = "slcTipoResidencia", @class = "form-control selectSearch" })
                                                            <span id="val-cons-slcTipoResidencia" class="text-danger" hidden>El tipo de residencia es requerido.</span>

                                                        </div>
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="slcRecursosBasicos">Recursos Basicos: </label>
                                                            @Html.DropDownList(
                                                           "slcRecursosBasicos",
                                                           new SelectList(
                                                               ViewBag.lstrecursosbasicos,
                                                               "idRecursoBasico",
                                                               "nombreRecurso",
                                                               lstrecursosbasicos
                                                               .Where(x => x.nombreRecurso == detalleAlumno.nombreRecurso)
                                                               .Select(x => x.idRecursoBasico)
                                                               .FirstOrDefault()
                                                               ),
                                                           new { @id = "slcRecursosBasicos", @class = "form-control selectSearch" })
                                                            <span id="val-cons-slcRecursosBasicos" class="text-danger" hidden>El tipo de recursos básicos es requerido.</span>

                                                        </div>



                                                    </div>
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="slcConvivenciaFamiliar">Convivencia Familiar: </label>
                                                            @Html.DropDownList(
                                                           "slcConvivenciaFamiliar",
                                                           new SelectList(
                                                               ViewBag.lstconvivenciafamiliar,
                                                               "idConvivenciaFamiliar",
                                                               "nombreConvivenciaFamiliar",
                                                               lstConvivenciaFamiliar
                                                               .Where(x => x.nombreConvivenciaFamiliar == detalleAlumno.nombreConvivenciaFamiliar)
                                                               .Select(x => x.idConvivenciaFamiliar)
                                                               .FirstOrDefault()
                                                               ), new { @id = "slcConvivenciaFamiliar", @class = "form-control selectSearch" })
                                                            <span id="val-cons-slcConvivenciaFamiliar" class="text-danger" hidden>La convivencia familiar es requerida.</span>

                                                        </div>
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="txtAnioNacimiento">Fecha de Nacimiento: </label>
                                                            <input class="form-control" id="txtAnioNacimiento" value="@Convert.ToDateTime(detalleAlumno.anioNacimiento).ToString("yyyy-MM-dd")" placeholder="Fecha de Nacimiento" type="date" />
                                                            <span id="val-cons-txtAnioNacimiento" class="text-danger" hidden>El año de nacimiento es requerido.</span>

                                                        </div>


                                                    </div>
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="slcTipoVivienda">Tipo de  Vivienda: </label>
                                                            @Html.DropDownList(
                                                           "slcTipoVivienda",
                                                           new SelectList(
                                                               ViewBag.lstvivienda,
                                                               "idTipoVivienda",
                                                               "nombreTipoVivienda",
                                                               lstvivienda
                                                               .Where(x => x.nombreTipoVivienda == detalleAlumno.nombreTipoVivienda)
                                                               .Select(x => x.idTipoVivienda)
                                                               .FirstOrDefault()
                                                               ), new { @id = "slcTipoVivienda", @class = "form-control selectSearch" })
                                                            <span id="val-cons-slcTipoVivienda" class="text-danger" hidden>El tipo de vivienda es requerido.</span>

                                                        </div>
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="slcNacionalidad">Nacionalidad: </label>
                                                            @Html.DropDownList(
                                                           "slcNacionalidad",
                                                           new SelectList(
                                                               ViewBag.lstnacionalidad,
                                                               "idNacionalidad",
                                                               "nacionalidad",
                                                               lstnacionalidad
                                                               .Where(x => x.nacionalidad == detalleAlumno.nacionalidad)
                                                               .Select(x => x.idNacionalidad)
                                                               .FirstOrDefault()
                                                               ), new { @id = "slcNacionalidad", @class = "form-control selectSearch" })
                                                            <span id="val-cons-slcNacionalidad" class="text-danger" hidden>La nacionalidad es requerida.</span>

                                                        </div>
                                                    </div>
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="slcSexo">Sexo: </label>

                                                            @Html.DropDownList(
                                                           "slcSexo",
                                                           new SelectList(
                                                               ViewBag.lstsexo,
                                                               "idSexo",
                                                               "sexo",
                                                               lstsexo
                                                               .Where(x => x.sexo == detalleAlumno.sexo)
                                                               .Select(x => x.idSexo)
                                                               .FirstOrDefault()
                                                               ), new { @id = "slcSexo", @class = "form-control selectSearch" })
                                                            <span id="val-cons-slcSexo" class="text-danger" hidden>El sexo es requerido.</span>

                                                        </div>
                                                        <div class="col-md-5">
                                                            <label class="large mb-1" for="txtCantidadHermanos">Cantidad de Hermanos: </label>
                                                            <input class="form-control" id="txtCantidadHermanos" value="@detalleAlumno.cantidadHermanos" placeholder="Cantidad de Hermanos" />
                                                            <span id="val-cons-txtCantidadHermanos" class="text-danger" hidden>La cantidad de hermanos es requerida.</span>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 text-right mt-4">
                                                        <button class="btn btn-primary" type="button" id="btnEditarAlumno">
                                                            <svg class="svg-inline--fa fa-check fa-w-16 text-white" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>
                                                            Guardar
                                                        </button>
                                                        <button class="btn btn-success" type="button">
                                                            <svg class="svg-inline--fa fa-check fa-w-16 text-white" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>
                                                            Guardar y volver a la lista
                                                        </button>
                                                        <a class="btn btn-danger" href="@Url.Action("Index", "Alumno")">
                                                            <svg class="svg-inline--fa fa-times fa-w-11 text-white" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                                                            Cancelar
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@Scripts.Render("~/Content/Alumnos")