@{
    Layout = null;
    var urlBase = Foro.Comun.Utility.getBaseUrl();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Foro</title>
    @Styles.Render("~/Content/sitecss")
   

    @* Sweet Alert 2 *@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.0/dist/sweetalert2.all.min.js"></script>

</head>
<body class="bg-gray-900">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                            <div class="card mt-4">
                                <div class="card-body p-4 text-center">
                                    <div class="icons-org-create align-items-center mx-auto">

                                        <i class="icon-plus fas fa-plus"></i>
                                    </div>
                                    <div class="text-primary font-weight-300 pt-2 mb-0">Inicio de Sesión</div>
                                </div>
                                <hr class="m-0">
                                <div id="tab1">
                                    <div class="card-body">


                                        <div class="form-group">
                                            <label class="small mb-1" for="Username">Escriba su usuario</label>
                                            <input type="text" class="form-control form-control-solid" placeholder="Nombre de usuario" id="txtUsuario" />
                                            <span id="val-cons-nombreUsuario" class="text-danger" hidden>El nombre de usuario es requerido.</span>

                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="Password">Escriba su contraseña</label>
                                            <input type="password" class="form-control form-control-solid" placeholder="Clave" id="txtClave" />
                                            <span id="val-cons-clave" class="text-danger" hidden>La Clave es requerida.</span>
                                        </div>
                                        <button  class="btn btn-block btn-primary" id="btnIngresarLogin">Ingresar</button>

                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="@Url.Action("CrearUsuario", "Usuario")">Crear Usuario</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        @Html.Partial("_FooterParcial")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pluginjs")
    @Scripts.Render("~/bundles/sitejs")
    @Scripts.Render("~/Content/Api")

    <script>
        $(document).ready(function () {
            $("#FrmNuevo").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });
    </script>
    <input type="hidden" id="hdnBaseUrl" value="192.168.1.249:1050/" />
    <input type="hidden" id="hdnUrlUs" value="@urlBase" />
</body>
</html>